@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.home {
    background-image: url(bg-prigi.jpg);
    background-size: cover;
    background-position: 0 -60px;
    height: 600px;
}

.home-container {
    padding: 40px 0;
}

.main {
    display: flex;
    justify-content: center;
    min-height: 100vh;   
}
#clock {
    text-align: center;
}
#clock p {
    margin-top: 300px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #fff;
}
#clock h2 {
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 2em;
}

#time .dot {
    font-family: "Anton";
    font-size: 4.5em;
    margin-left: 0.4em;
    
}
#clock #time {
    display: flex;
}

#clock #time div {
    position: relative;
    margin: 0 0.1em;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
}

#clock #time div span {
    position: relative;
    display: block;
    width: 130px;
    height: 110px;
    background: #2196F3;
    color: #fff;
    font-weight: 300;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    z-index: 10;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.2);
}

#clock #time div span:nth-child(2) {
    height: 30px;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    z-index: 9;
    box-shadow: none;
    background: #127fd6;
    border-radius: 0 0 10px 10px;
    text-transform: uppercase;
    box-shadow: 0 0 0 1px rgba(0,0,0,.2);
}

#clock #time div:last-child span {
    background: #ff006a;
}
#clock #time div:last-child span:nth-child(2) {
    background: #ec0062;
}