@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@media screen and (max-width:1100px) {
    .home-container {
        padding: 40px 0;
    }
    #clock h2 {
        margin: 30px 0;
        letter-spacing: 0.4em;
        font-size: 2em;
        font-weight: 700;
    }
    #time .dot {
        font-size: 3.5em;
    
    }
}


@media screen and (max-width:750px) {
    .home-container {
        padding: 20px 0;
    }
    #clock h2 {
        margin: 10px 0;
        letter-spacing: 0.4em;
        font-size: 1.3em;
        font-weight: 700;
    }
    #time .dot {
        font-size: 2.3em;
        margin-left: 0.2em;
    }
    #clock #time div span {
        width: 75px;
        height: 55px;
    }
    #clock .quotes {
        margin: 150px auto 0 auto;
        width: 200px;
        height: 200px;
        padding: 15px 0;
        box-shadow:  10px 10px 0px 0 rgba(0,0,0,.2);
    }
    .quotes .text {
            font-size: 0.8rem;
            text-transform: uppercase;
            color: #244D49;
            text-shadow: 3px 3px 0px #D7DACC;
    }
    #clock .quotes .author {
        color: rgb(2, 88, 146);
    }
}
@media screen and (max-width:500px) {
    .home-container {
        padding: 15px 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.home {
    background-image: url(bg-prigi.jpg);
    height: 100%;
    background-size: cover;
}



.main {
    display: flex;
    justify-content: center;
    min-height: 100vh;   
    align-items: center;
}
#clock {
    text-align: center;
    
}
#clock .quotes {
    margin: 80px auto 0 auto;
    width: 250px;
    height: 220px;
    background-color: rgba(255,255,255,.5);
}
#clock p {
    margin-top: 30px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #fff;
}
#clock h2 {
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    
}

#time .dot {
    font-family: "Anton";
}
#clock #time {
    display: flex;
}

#clock #time div {
    position: relative;
    margin: 0 0.1em;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
}

#clock #time div span {
    position: relative;
    display: block;
    background: #2196F3;
    color: #fff;
    font-weight: 300;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3em;
    z-index: 10;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.2);
}

#clock #time div span:nth-child(2) {
    height: 12px;
    font-size: 0.4em;
    letter-spacing: 0.2em;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    z-index: 9;
    box-shadow: none;
    background: #127fd6;
    border-radius: 0 0 10px 10px;
    text-transform: uppercase;
    box-shadow: 0 0 0 1px rgba(0,0,0,.2);
}

#clock #time div:last-child span {
    background: #ff006a;
}
#clock #time div:last-child span:nth-child(2) {
    background: #ec0062;
}
